# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

tools/sources/
cache/